Hartmut Borkenhagen

    * Project Admin
    * Developer
    * Contact: http://solvissc2viewer.codeplex.com
    
    To the Website you can write discussions, solutions, bugreports and ratings.
    You can also download the current version inclusive source code.

or

    * Contact: http://solvisforum.forumprofi.de
    
    A registered visitor of the Website can write an article there
    or
    can contact me from the Website by Username "harborsiem".
    
