SolvisSC2Viewer is an Open Source program written in C#.

SolvisSC2Viewer wertet die Log-Dateien der Solvis Heizung aus
und stellt die Werte grafisch dar.
Als Extra wird die Heizkurve sichtbar gemacht.

Copyright (C) 2012 Hartmut Borkenhagen


